<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" href="/static/style/estilo.css">
</head>
<body>
    <main>
        <div class="tabela"> 
        <h1>CALCULE SEU IMC</h1>
            <form action="/" method ='post' class = "imc_tabela">
                <h2>INDÍCE DE MASSA CORPORAL</h2>
                <label for="">Nome:</label>
                <input type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Digite seu nome">
    
                <label for="">Altura:</label>
                <input type="text" name="altura" id="altura" value="{{ altura }}" placeholder="Altura em metros" step="1.0">
    
                <label for="">Peso:</label>
                <input type="text" name="peso" id="peso" value="{{ peso }}" placeholder="Peso em kg" step="1.0">
                
                <div>
                    <button type = "submit" class = "button_calcular">Calcular</button>
                </div>
                
                {% if resultado is not none %}
                <div id="resultados">
                    <div id="imc">
                        <span id="value">Seu IMC: {{ resultado }} </span>
                    </div>
                    <div id="descrição">
                        <span>Descrição do IMC: {{ condicao }} </span>
                    </div>
                    {% endif %} 
            </form>
    
        </div>
       
       </main>
</body>
</html>